@charset "utf-8";

#content{
	margin-bottom: 50px;
}

.listCon{
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px 50px;
}
.listCon .listCon1{
	height: 50px;
}
.listCon .listCon1 p{
	font-size: 16px;
	line-height: 50px;
	color: orange;
}
.listCon .listCon2{
	border-bottom: 1px dashed #ccc;
}
.listCon .listCon2 p{
	font-size: 16px;
}
.listCon .listCon3{
	margin-top: 10px;
}

.detCon{
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px 50px;
}
