@charset "utf-8";

#content{
	margin-bottom: 50px;
}

.listCon{
	height:100px;
	line-height:100px;
	border:1px solid #222;
	margin-bottom:10px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
}
